/***************************
HEADER
***************************/

header {
    min-height: 4rem;
    background-color: #0084FD;
}

/***************************
MAIN
***************************/

/* TESTI */

p {
    line-height: 2em;
    font-weight: 600;
    font-size: 14px;
}

i p{
    font-weight: 300;
}

h5 {
    font-weight: 300;
}

.lightblue-box h2 {
    font-size: 19px;
}

#big-title {
    font-size: 40px;
}

/* BLUE SECTION */

.lightblue-box {
    min-height: 300px;
    background-color: #B5DDFF;
}


/* BOTTONI */


.btn-blue {
    background-color: #0084FD;
    color: white;
    padding: 10px 4px;
    border-radius: 50px;
    margin-top: 30px;
    justify-content: center;
    width: 90%;
}

.btn-violet {
    background-color: #9792E4;
    color: black;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 1em;
}

.btn-wide-violet {
    background-color: #9792E4;
    color: white;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 18px;
    line-height: 1em;
}

.fa-apple {
    margin-right: 15px;
}

/* VIOLET SECTION PLANNING */

.w-80 img {
    max-width: 100%;
}

/* PHOTO CARDS  */


/* .box-image {
    position: relative;
    width: 200px; height:200px;
    overflow: hidden;
    border-radius: 50%;
} 
.box-image img {
    width: 100%;
    height: auto;
} */

.circle-image{
    border-radius: 50%;
    overflow: hidden;
    width: 190px;
    height: 190px;
    margin: 20px auto;
  }
  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
/***************************
FOOTER
***************************/

footer a {
    color: #9792E4;
}