/***************************
HEADER
***************************/

header {
    height: 4rem;
    background-color: #0084FD;
}

.right a {
    text-decoration: none;
    display: none;
}

.btn-start {
    background-color: white;
}
.btn-start {
    color: black;
    padding: 10px;
    border-radius: 20px;
    
}

/***************************
MAIN
***************************/

/* TESTI */

p {
    line-height: 2em;
    font-weight: 600;
    font-size: 14px;
}

i p{
    font-weight: 300;
}

h5 {
    font-weight: 300;
}

.bg-lightblue h2 {
    font-size: 19px;
}

.big-title {
    font-size: 40px;
}

/* BOTTONI */


.btn-blue {
    background-color: #0084FD;
    color: white;
    width: 180px;
    padding: 10px 8px;
    border-radius: 40px;
    margin-top: 20px;
    justify-content: center;
}

.btn-violet {
    background-color: #9792E4;
    color: black;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 1em;
}

.btn-wide-violet {
    background-color: #9792E4;
    color: white;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 18px;
    line-height: 1em;
}

.btn-linkein {
    background-color: #9792E4;
    color: white;
    width: 180px;
    padding: 10px 8px;
    border-radius: 40px;
    margin-top: 20px;
    
}

.btn-linkein i {
    padding-right: 10px;
}

.btn-white {
    background-color: white;
    color: #9792E4;
    width: 222px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
}

.btn-white a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.fw-300 a {
    color: inherit;
}
.fa-apple {
    margin-right: 15px;
}

/* VIOLET SECTION PLANNING */

.w-80 img {
    max-width: 100%;
}

/* PHOTO CARDS  */


.circle-image{
    border-radius: 50%;
    overflow: hidden;
    width: 190px;
    height: 190px;
    margin: 0 auto;
  }
.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.circle-imagelefted{
    border-radius: 50%;
    overflow: hidden;
    width: 190px;
    height: 190px;
    margin: 0;
}

#relatived {
    position: relative;
    height: 0;
}

#relatived i {
    position: relative;
    top: -195px;
    left: 138px;
    font-size: 50px;
    color: #9792E4;
}
/***************************
FOOTER
***************************/

footer a {
    color: #9792E4;
}

/*************************** RESPONSIVE ***************************/

/*********************** TABLET */

@media screen and (min-width: 768px) {

    /* HEADER */

    .header-container {
        width: 90%;
    }

    .right i {
        padding-right: 16px;
    }

    /* DEMO CARDS */
    .big-card {
        width: calc(66.6666% - 16px);
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .small-card {
        width: calc(33.3333% - 16px);
        margin-bottom: 16px;
        margin-top: 0;
        margin-right: 16px;
  
    }

    

    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }
    
    .cards-container img {
        max-width: 76%;
    }

    /* DEMO CARDS END */

    /* PLANNING */

    .planning-container img {
        width:100%
    }
    .planning-container h2 {
        font-size: 50px;
    }
    .planning-container {
        width: 90%;
    }

    /* TESTIMONIALS */

    .testimonials-container {
        width: 90%;
    }
    .testimonials-container h2 {
        font-size: 35px;
    }

    .testimonials-container p {
        font-size: 18px;
    }

    .testimonial-card {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    .circle-image {
        margin: 10px 0;
    }
    
    .testimonial-card p {
        font-size: 18px;
        text-align: left;
        margin-left: 30px;
    }

    .testimonial-card h4 {
        text-align: left;
        margin-left: 30px;
    }
    
    .testimonial-quote {
        max-width: 70%;
    }

    /* BENEFITS */

    .benefits-title {
        font-size: 40px;
        margin-top: 30px;
    }

    .benefits-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 20px;
    }
    
    .benefits-card {
        width: calc(50% - 10px);
        margin: 0 auto;
        padding: 40px;
    }
    .benefits-card h2 {
        font-size: 67px;
    }

    .benefits-card h3 {
        font-size: 24px;
    }

    /* ABOUT US */

    .aboutus-container {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .aboutus-textcontainer {
        width: calc(60% - 20px);
        margin: 0;
        margin-right: 20px;

    }

    .aboutus-profile {
        width: calc(35% - 60px);
        margin-left: 60px;
    }

    .aboutus-profile h2 {
        max-width: 190px;
    }

    /* GET STARTED */

    .getstarted-container h5 {
        color: #d5d4f4;
        font-size: 18px;
    }
    
    .getstarted-container h2 {
        font-size: 40px;
    }

    .getstarted-container .big-title {
        font-size: 80px;
    }

    .getstarted-container p {
        width: 60%;
        margin: 0 auto;
    }

    .btn-white {
        padding: 30px;
        border-radius: 50px;
    }

    /* FOOTER */

    .footer-text {
        width: 60%;
    }

}

/*********************** DESKTOP */

@media screen and (min-width:992px) {

    /* HEADER */

    .header-container {
        width: 60%;
    }

    .right a {
        display: inline-block;
    }
    
    .right i {
        display: none;
    }

    .btn-start {margin-right: 16px;}

    /* DEMO */

    .cards-container {
        width: 60%;
    }

    .big-card {
        flex-direction: row;
        padding: 0;
    }

    .left-demo {
        width: 50%;
    }

    .left-demo p {
        
    }

    .right-demo {
        width: 50%;
    }

    .right-demo img{
        margin-top: 53px;

    }

    /* PLANNING */

    .planning-container {
        width: 50%;
        flex-direction: row;
    }
    

    .planning-container-left {
        width: 50%;
        margin: 0;
    }

    .planning-container-left h2{
        font-size: 30px;
    }
    .planning-container-left p{
        padding-bottom: 50px;
    }

    .planning-container-right {
        width: 50%;
        margin: 0;
        scale: 0.7;
        position: relative;
        top: 60px;
    }

    .planning-container-right p{
        font-size: 19px;
    }

    /* TESTIMONIALS */

    .testimonials-container {
        width: 60%;
    }

    .testimonial-card {
        width: 60%;
    }

    .testimonial-quote {
        align-self: center;
    }

    /* BENEFITS */

    .benefits-container {
        width: 60%;
    }
    .benefits-card {
        margin: 0;
        width: calc(33.3333% - 14px);
    }
    
    /* ABOUT US */

    .aboutus-container {
        width: 60%;
        padding: 20px;
    }

    /* GET STARTED */

    .getstarted-container p {
        width: 30%;
    }

    /* FOOTER */

    .footer-text {
        width: 30%;
    }

    
}